* {
    font-family: 'Diphylleia', serif;
}

body {
    background-color: lightblue;
}

.navbar a {
    margin: 0 10px;
    color: white;
}

.navbar{
    display: inline-block;
    background-color: black;
}

.work-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.work-item {
    margin: 20px;
    border: 5px solid orange;
    height: 350px;
    width: 350px;
}

.main {
    width: 100%; /* Makes the main project take up its own row */
    height: 400px;
}

.work-items h1 {
    color: black;
    display: inline-block;
    margin: 0;
    background-color: orange;
}

.travel-assistant {
    height: 100%;
    background-image: url(../assets/travelassistant.png);
    background-size: 100% 100%;
}

.calculator {
    background-image: url(../assets/calculator.png);
    background-size: 100% 100%;
}

.menu {
    background-image: url(../assets/restaurantmenu.png);
    background-size: 100% 100%;
}

.clock {
    background-image: url(../assets/clock.png);
    background-size: 100% 100%;
}

.tictactoe {
    background-image: url(../assets/tictactoe.png);
    background-size: 100% 100%;
}

ul {
    list-style-type: square;
}